/**
    * NAV BAR 
    */
   
   #mainNav {
       border-color: rgba(34, 34, 34, 0);
       /*background-color: white;*/
       font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
       -webkit-transition: all .2s;
       -moz-transition: all .2s;
       transition: all .2s;
   }
   
   #mainNav .navbar-brand {
       font-weight: 700;
       text-transform: uppercase;
       color: #000000;
       font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
   }
   
   #mainNav .navbar-brand:hover,
   #mainNav .navbar-brand:focus {
       color: #1e6823;
   }
   
   #mainNav .navbar-toggle {
       font-size: 12px;
       font-weight: 700;
       text-transform: uppercase;
       color: #1e6823;
   }
   
   #mainNav .navbar-nav > li.nav-item > a.nav-link,
   #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
       font-size: 13px;
       font-weight: 700;
       text-transform: uppercase;
       color: #1e6823;
   }
   
   #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
   #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
       color: #1e6823;
   }
   
   #mainNav .navbar-nav > li.nav-item > a.nav-link.active,
   #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
       color: #1e6823 !important;
       background-color: transparent;
   }
   
   #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
   #mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
       background-color: transparent;
   }
   
   @media (min-width: 992px) {
       #mainNav {
           background-color: transparent;
       }
       #mainNav .navbar-brand {
           color: rgba(255, 255, 255, 0.7);
       }
       #mainNav .navbar-brand:hover,
       #mainNav .navbar-brand:focus {
           color: white;
       }
       #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
       #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
           color: white;
       }
       #mainNav.navbar-shrink {
           border-color: rgba(34, 34, 34, 0.05);
           background-color: white;
       }
       #mainNav.navbar-shrink .navbar-brand {
           font-size: 16px;
           color: #ffffff;
       }
       #mainNav.navbar-shrink .navbar-brand:hover,
       #mainNav.navbar-shrink .navbar-brand:focus {
           color: #1e6823;
       }
       #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
       #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
           color: #1e6823;
       }
   }
   /*
    * HOME PAGE 
    */
   
   .header {
       background-image: url("../img/cover_all_1000.jpg");
       box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .4);
       background-position: center;
       -webkit-background-size: cover;
       -moz-background-size: cover;
       -o-background-size: cover;
       background-size: cover;
   }
   
   .heading {
       padding-top: 100px;
       /*padding-bottom: 00px;*/
       color: #fff;
   }
   
   .header h1 {
       font-size: 85px;
       letter-spacing: -0.02em;
       text-shadow: 2px 5px 7px rgba(0, 0, 0, 0.8);
   }
   
   .header p {
       font-size: 22px;
       font-weight: 400;
       max-width: 80%;
       margin-right: auto;
       margin-left: auto;
       text-shadow: 2px 2px 5px #000000;
   }
   
   .row {
       padding-top: 80px;
       padding-bottom: 80px;
   }
}
.icon-features {
    background-image: url("../img/creativity_icon.jpg");
    height: 400px;
    width: 400px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
i.icon-opportunity {
    background-image: url("../img/opportunity_icon.jpg");
    height: 400px;
    width: 400px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
i.icon-networking {
    background-image: url("../img/networking_icon.jpg");
    height: 400px;
    width: 400px;
    display: block;
    background-repeat: no-repeat;
    background-position: center;
}
.browse {
    height: 100px;
    width: 100px;
}
.Opportunity {
    height: 400px;
    width: 400px;
}
.head1 {
    font-size: 5000px;
    font-weight: 75px;
}
.carousel{
  box-shadow: 0px 0px 5px 0px #ccc;
}

.platform {
    align-self: center;
}

/* carousel 

*/
.laptop{
  background-image: url('../img/laptop.png');
}
.carousel{
  max-width: 300px;
}
.carousel-control.left, .carousel-control.right {
  background: none !important;
  filter: progid: none !important;
  outline: 0;
 }
.carousel .carousel-control {
  visibility: hidden;
}
.carousel:hover .carousel-control {
  visibility: visible;
}





.Footer h6{
  margin-bottom: 5px;
  font-weight: 20%;
}




