RewriteEngine on
RewriteCond %{HTTP_HOST} ^campusbox\.org$ [OR]
RewriteCond %{HTTP_HOST} ^www\.campusbox\.org$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L,R=301]